<div class="bottom-nav">
  <div id="home">
    <a href="/home">
      <!-- <i onclick="home()" class="fa-solid fa-play"></i> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        id="sm-nav-home-icon"
        class=""
      >
        <path
          fill="none"
          stroke="#200E32"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M6.65721519,18.7714023 L6.65721519,15.70467 C6.65719744,14.9246392 7.29311743,14.2908272 8.08101266,14.2855921 L10.9670886,14.2855921 C11.7587434,14.2855921 12.4005063,14.9209349 12.4005063,15.70467 L12.4005063,15.70467 L12.4005063,18.7809263 C12.4003226,19.4432001 12.9342557,19.984478 13.603038,20 L15.5270886,20 C17.4451246,20 19,18.4606794 19,16.5618312 L19,16.5618312 L19,7.8378351 C18.9897577,7.09082692 18.6354747,6.38934919 18.0379747,5.93303245 L11.4577215,0.685301154 C10.3049347,-0.228433718 8.66620456,-0.228433718 7.51341772,0.685301154 L0.962025316,5.94255646 C0.362258604,6.39702249 0.00738668938,7.09966612 0,7.84735911 L0,16.5618312 C0,18.4606794 1.55487539,20 3.47291139,20 L5.39696203,20 C6.08235439,20 6.63797468,19.4499381 6.63797468,18.7714023 L6.63797468,18.7714023"
          transform="translate(2.5 2)"
        ></path>
      </svg>
    </a>

    <!-- <i onclick="home()" class="fa-solid fa-house"></i> -->
  </div>

  <div id="search">
    <a href="/search">
      <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        id="sm-nav-search-icon"
      >
        <g
          fill="none"
          fill-rule="evenodd"
          stroke="#200E32"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          transform="translate(2 2)"
        >
          <circle cx="9.767" cy="9.767" r="8.989"></circle>
          <line x1="16.018" x2="19.542" y1="16.485" y2="20"></line>
        </g>
      </svg>
    </a>
  </div>

  <div id="upload">
    <a href="/upload">
      <!-- <i class="fa-solid fa-cloud-arrow-up"></i> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        id="sm-nav-upload-icon"
      >
        <path
          fill="#111"
          fill-rule="evenodd"
          d="M9.45109 3.25H9.54891C11.1512 3.24999 12.4205 3.24998 13.4248 3.36868C14.4557 3.49054 15.3044 3.74638 16.0134 4.3282C16.2539 4.52558 16.4744 4.74612 16.6718 4.98663C17.2536 5.69558 17.5095 6.54428 17.6313 7.57525C17.6587 7.80698 17.6798 8.05283 17.696 8.31364C18.482 7.92192 19.148 7.60005 19.7032 7.41841C20.3546 7.20525 21.0456 7.11922 21.6829 7.51309C22.3202 7.90695 22.5523 8.56347 22.6529 9.24146C22.7501 9.89558 22.75 10.7572 22.75 11.7924V12.2076C22.75 13.2428 22.7501 14.1044 22.6529 14.7585C22.5523 15.4365 22.3202 16.093 21.6829 16.4869C21.0456 16.8808 20.3546 16.7948 19.7032 16.5816C19.148 16.3999 18.482 16.0781 17.696 15.6864C17.6798 15.9472 17.6587 16.193 17.6313 16.4248C17.5095 17.4557 17.2536 18.3044 16.6718 19.0134C16.4744 19.2539 16.2539 19.4744 16.0134 19.6718C15.3044 20.2536 14.4557 20.5095 13.4248 20.6313C12.4205 20.75 11.1512 20.75 9.54895 20.75H9.45105C7.84881 20.75 6.57946 20.75 5.57525 20.6313C4.54428 20.5095 3.69558 20.2536 2.98663 19.6718C2.74612 19.4744 2.52558 19.2539 2.3282 19.0134C1.74638 18.3044 1.49054 17.4557 1.36868 16.4248C1.24998 15.4205 1.24999 14.1512 1.25 12.5489V11.4511C1.24999 9.84882 1.24998 8.57947 1.36868 7.57525C1.49054 6.54428 1.74638 5.69558 2.3282 4.98663C2.52558 4.74612 2.74612 4.52558 2.98663 4.3282C3.69558 3.74638 4.54428 3.49054 5.57525 3.36868C6.57947 3.24998 7.84883 3.24999 9.45109 3.25ZM16.25 12.5V11.5C16.25 9.83789 16.2488 8.65724 16.1417 7.75133C16.0366 6.86197 15.8384 6.33563 15.5123 5.93822C15.3772 5.77366 15.2263 5.62277 15.0618 5.48772C14.6644 5.16158 14.138 4.96344 13.2487 4.85831C12.3428 4.75123 11.1621 4.75 9.5 4.75C7.83789 4.75 6.65724 4.75123 5.75133 4.85831C4.86197 4.96344 4.33563 5.16158 3.93822 5.48772C3.77366 5.62277 3.62277 5.77366 3.48772 5.93822C3.16158 6.33563 2.96344 6.86197 2.85831 7.75133C2.75123 8.65724 2.75 9.83789 2.75 11.5V12.5C2.75 14.1621 2.75123 15.3428 2.85831 16.2487C2.96344 17.138 3.16158 17.6644 3.48772 18.0618C3.62277 18.2263 3.77366 18.3772 3.93822 18.5123C4.33563 18.8384 4.86197 19.0366 5.75133 19.1417C6.65724 19.2488 7.83789 19.25 9.5 19.25C11.1621 19.25 12.3428 19.2488 13.2487 19.1417C14.138 19.0366 14.6644 18.8384 15.0618 18.5123C15.2263 18.3772 15.3772 18.2263 15.5123 18.0618C15.8384 17.6644 16.0366 17.138 16.1417 16.2487C16.2488 15.3428 16.25 14.1621 16.25 12.5ZM17.75 14.0365L17.9938 14.1584C18.9892 14.6561 19.6598 14.9891 20.1697 15.156C20.669 15.3194 20.8202 15.2567 20.8943 15.2109C20.9684 15.1651 21.092 15.0579 21.1692 14.5382C21.248 14.0076 21.25 13.2588 21.25 12.1459V11.8541C21.25 10.7412 21.248 9.99243 21.1692 9.46179C21.092 8.94208 20.9684 8.83487 20.8943 8.78906C20.8202 8.74326 20.669 8.68063 20.1697 8.84403C19.6598 9.01086 18.9892 9.34395 17.9938 9.84164L17.75 9.96353V11.3665C17.75 11.3946 17.75 11.4228 17.75 11.4511V12.5489C17.75 12.5772 17.75 12.6054 17.75 12.6335V14.0365ZM9.5 8.75C9.91421 8.75 10.25 9.08579 10.25 9.5V11.25H12C12.4142 11.25 12.75 11.5858 12.75 12C12.75 12.4142 12.4142 12.75 12 12.75H10.25V14.5C10.25 14.9142 9.91421 15.25 9.5 15.25C9.08579 15.25 8.75 14.9142 8.75 14.5V12.75H7C6.58579 12.75 6.25 12.4142 6.25 12C6.25 11.5858 6.58579 11.25 7 11.25H8.75V9.5C8.75 9.08579 9.08579 8.75 9.5 8.75Z"
          clip-rule="evenodd"
        ></path>
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        id="sm-nav-upload-icon-fill"
        style="display: none"
        class="active"
      >
        <path
          fill="#ffffff"
          fill-rule="evenodd"
          d="M2 12.5V11.5C2 8.21252 2 6.56878 2.90796 5.46243C3.07418 5.25989 3.25989 5.07418 3.46243 4.90796C4.56878 4 6.21252 4 9.5 4C12.7875 4 14.4312 4 15.5376 4.90796C15.7401 5.07418 15.9258 5.25989 16.092 5.46243C16.7936 6.3173 16.9531 7.49303 16.9893 9.50002L17.6584 9.17082C19.6042 8.19788 20.5772 7.7114 21.2886 8.15107C22 8.59075 22 9.67853 22 11.8541V12.1459C22 14.3215 22 15.4093 21.2886 15.8489C20.5772 16.2886 19.6042 15.8021 17.6584 14.8292L16.9893 14.5C16.9531 16.507 16.7936 17.6827 16.092 18.5376C15.9258 18.7401 15.7401 18.9258 15.5376 19.092C14.4312 20 12.7875 20 9.5 20C6.21252 20 4.56878 20 3.46243 19.092C3.25989 18.9258 3.07418 18.7401 2.90796 18.5376C2 17.4312 2 15.7875 2 12.5ZM9.5 8.75C9.91421 8.75 10.25 9.08579 10.25 9.5V11.25H12C12.4142 11.25 12.75 11.5858 12.75 12C12.75 12.4142 12.4142 12.75 12 12.75H10.25V14.5C10.25 14.9142 9.91421 15.25 9.5 15.25C9.08579 15.25 8.75 14.9142 8.75 14.5V12.75H7C6.58579 12.75 6.25 12.4142 6.25 12C6.25 11.5858 6.58579 11.25 7 11.25H8.75V9.5C8.75 9.08579 9.08579 8.75 9.5 8.75Z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </a>
  </div>

  <div id="notification">
    <!-- <i class="fa-solid fa-bell"></i> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      id="sm-nav-notification-icon"
    >
      <path
        fill="none"
        fill-rule="evenodd"
        stroke="#200E32"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M.00082545485 11.7871203L.00082545485 11.568135C.0329512746 10.9202451.240598836 10.2924906.602355621 9.74960514 1.20450201 9.09746185 1.61670318 8.29830554 1.79571385 7.43597814 1.79571385 6.76950123 1.79571385 6.09350321 1.85392645 5.4270263 2.15469153 2.21841601 5.32727806 3.37507799e-14 8.46105618 3.37507799e-14L8.53867298 3.37507799e-14C11.6724511 3.37507799e-14 14.8450376 2.21841601 15.1555048 5.4270263 15.2137174 6.09350321 15.1555048 6.76950123 15.2040153 7.43597814 15.3854338 8.30030508 15.7972211 9.10194449 16.3973735 9.75912624 16.7618363 10.2972046 16.9698126 10.9226612 16.9989037 11.568135L16.9989037 11.7775992C17.0205591 12.6480449 16.720769 13.4968208 16.1548211 14.167395 15.4069586 14.9514753 14.392113 15.4392693 13.3024038 15.5384332 10.1069938 15.8812057 6.8830333 15.8812057 3.68762325 15.5384332 2.59914366 15.4349924 1.58575794 14.9479001.835206008 14.167395.278 13.496309-.0177593319 12.6525831.00082545485 11.7871203zM6.05493552 18.8517756C6.55421005 19.478449 7.28739599 19.8840184 8.09222803 19.978725 8.89706007 20.0734316 9.70716835 19.8494655 10.3432635 19.3563938 10.5389031 19.2105605 10.7149406 19.0410062 10.8671768 18.8517756"
        transform="translate(3.5 2)"
      ></path>
    </svg>
  </div>

  <div id="profile">
    <a href="/users/profile/<%= locals.user.id%>">
      <img
        onclick="profile()"
        src="<%= locals.user.avatar %>"
        id="user-profile-img"
    /></a>
  </div>
</div>

<script></script>
