

<div class="bottom-nav">
    <div id="home">
        <i class="fa-solid fa-house"></i>
    </div>

    <div id="search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div id="upload">
        <i class="fa-solid fa-cloud-arrow-up"></i>
    </div>

    <div id="profile">
        <img src="<%= locals.user.avatar %>" id="user-profile-img">
    </div>


</div>