

<div class="bottom-nav">
    <div id="home">
        <a href="/home"><i onclick="home()" class="fa-solid fa-play"></i></a>
        
        <!-- <i onclick="home()" class="fa-solid fa-house"></i> -->
    </div>

    <div id="search">
        <i onclick="search()" class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div id="upload">
        <i onclick="upload()" class="fa-solid fa-cloud-arrow-up"></i>
    </div>

    <div id="notification">
        <i class="fa-solid fa-bell"></i>
        </div>

    <div id="profile">
        <a href="/users/profile/<%= locals.user.id%>"><img onclick="profile()" src="<%= locals.user.avatar %>" id="user-profile-img"></a>
        
    </div>
    
</div>

<script>

    
</script>