

<% if (locals.user){ %>
	<div class="user-chat-box remove animate__animated">
		<div class="animate__animated animate__faster chat-overlay chat-overlay-z-index">
			<i onclick="toggleChatWindow()"  class="fa-solid fa-comments comment-icon"></i>
			<p>Chat with friends</p>
			<i onclick="toggleChatWindow()" class="fa-solid fa-chevron-up"></i>
		</div>
		<div class="header">
			<i id="close-chat-window" onclick="toggleChatWindow()" class="fa-solid fa-arrow-left-long back-button"></i>
			<p class="chat-room">Global Chat</p>
			<i class="fa-solid fa-ellipsis-vertical chat-menu"></i>
		</div>
		<ul id="chat-messages-list">
			<p class="update-msg">New features coming soon!</p>
			<!-- Display day -->

			

			<!-- <li class="other-message animate__animated animate__faster animate__zoomIn">
				<div class="msg-content">
					<img src="<%= assetPath('img/1782188.jpeg') %>">
					<span>
						 Other Message <sup>2:04 AM</sup> 
					</span>
					
				</div>
			</li>
			<li class="self-message animate__animated animate__faster animate__zoomIn">
				<div class="msg-content">
					<span>
						 Self Message <sup>2:04 AM</sup> 
					</span>
					<img src="<%= assetPath('img/1782188.jpeg') %>">
				</div>
				
				
				
			</li> -->

		</ul>
		<div class="animate__animated" id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here" required>
			<button id="send-message"><i class="fa-solid fa-paper-plane"></i></button>
		</div>

	</div>
<% } %>


<script>
	// add background image to chat window
	let chatWindow = document.querySelector('.user-chat-box');
	chatWindow.setAttribute('style', "background-image: linear-gradient(rgba(0, 0, 0, 0.7), #000000), url('<%= assetPath('img/161.jpg') %>');background-size: cover;")

</script>