<div class="right-section-container">
    <section id="user-friends">
        <h4>Friends</h4>
        <% if (locals.user != undefined && friends != undefined) {%> 

            <% for(friend of friends) { %> 
                
                <p>
                    <a href="/users/profile/<%= friend._id%>"><%= friend[0].name %></a>
                </p>
            <% } %>
        <% } %>
        </section>

    <section id="other-users">
        <h4>Explore</h4>
        <% for(u of all_users) {%> 
            <p>
                <a href="/users/profile/<%= u.id%>"><%= u.name %></a>
            </p>
        <% } %>
    </section>


</div>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

