


<div class="search-page-container">
    <%- include('_top_header'); %>
    

    <p>Under construction we'll get back to you soon!</p>
    
    <% if (locals.user){ %>
        <%- include('_bottom_nav_bar_sm') -%>
    <% } %>
</div>