<link rel="stylesheet" href="<%= assetPath('css/top_header.css') %>">


<header id="top-nav-header">
    

    <% if (locals.user) { %>
        <div id="top-nav-section">
            <div id="search-form">
                <input type="search" name="search" id="search-bar" placeholder="Search here...">
                <button><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </div>
        </div>
        

    <%  } else { %>
        <div id="nav-section">
            <div id="sign-in-button">
                <a href="/users/sign-in">Sign In</a>
            </div>
            <div id="sign-up-button">
                <a href="/users/sign-up">Sign Up &nbsp;<i class="fa-solid fa-ghost"></i></a>
            </div>
        </div>
        

    <% } %>

    

</header>
