<div id="video-upload-status-container" class="video-upload-container">
  <div class="header">
    <p class="heading">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        id="round-arrow-up"
      >
        <path
          fill="#111"
          fill-rule="evenodd"
          d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12ZM8.46967 11.5303C8.17678 11.2374 8.17678 10.7626 8.46967 10.4697L11.4697 7.46967C11.7626 7.17678 12.2374 7.17678 12.5303 7.46967L15.5303 10.4697C15.8232 10.7626 15.8232 11.2374 15.5303 11.5303C15.2374 11.8232 14.7626 11.8232 14.4697 11.5303L12.75 9.81066V16C12.75 16.4142 12.4142 16.75 12 16.75C11.5858 16.75 11.25 16.4142 11.25 16V9.81066L9.53033 11.5303C9.23744 11.8232 8.76256 11.8232 8.46967 11.5303Z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span> Uploading Video </span>
    </p>
    <p class="file-name">example123.mp4</p>
  </div>
  <div class="file-info">
    <p class="progress-percentage">0%</p>
  </div>
  <div
    class="video-upload-progress"
    line-progressbar
    data-percentage="0"
    data-radius="10px"
    data-height="15px"
    data-bg-color="#00000000"
    data-progress-color="#0156D1"
    data-showcount="false"
  ></div>

  <p class="info">
    <i class="fa-solid fa-circle-info"></i>
    Processing can take some time. You can scroll the feed or close the tab.
  </p>
</div>
