<h1>Codegram / <%= title %></h1>



<section id="feed-posts">
    <h3>Posts</h3>

    <form action="" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>