<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/post_card_design.css">

<div id="home-container">
    <div class="post-div">
        <%- include('_top_header'); %>
        <% if(locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="post" enctype="multipart/form-data">
                <input type="file" name="myfile" id="my-file">
                <textarea name="content" id="text-area" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>

        <section id="feed-posts">

            <div id="posts-list-container">
                <% for (let i of posts) { %> 
                    <%- include('_post.ejs', {post: i}) -%>
                <% } %>
            </div>
            
        </section>
        
    </div>
    
    <div class="right-section-div">
        <%- include('_right_section', {all_users: all_users}); %>
    </div>
</div>

<script src="/js/add_emoji.js"></script>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

