


<div class="search-page-container">

    <div class="search-header">
        <a href="/"><i class="fa-solid fa-arrow-left"></i> </a>
        <div id="search-form-mobile">
            <input type="hidden" id="search-user-id-mobile" name="id" value="<%= locals.user._id %>">
            <input type="search" name="search" id="user-search-bar-mobile" placeholder="Search here...">
            <p id="cancel-search-mobile" class="cancel-button">Cancel</p>
        </div>
    </div>

    <div id="search-results-mobile">
        <p class="info">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search for people
        </p>
    </div>
    
    <% if (locals.user){ %>
        <%- include('_bottom_nav_bar_sm') -%>
    <% } %>
</div>