

<!-- <form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">
</form>

<p><a href="/users/auth/google">Google Sign In/Sign Up</a></p> -->


<div id="sign-in-container" class="user-sign-in animate__animated animate__faster ">

    <div class="welcome-div">
        <img src="<%= assetPath('img/1782188.jpeg') %>" alt="">
        <p> Welcome,<span> Ready to Aboard? </span> </p>
    </div>

    <form action="/users/create-session" method="post">
        
        
        <div class="input-with-icon">
            <i class="fa-solid fa-envelope"></i>
            <input id="email-input" type="email" name="email" placeholder="Your Email" required>
        </div>
        <div class="input-with-icon">
            <i class="fa-solid fa-key"></i>
            <input id="pass-input" type="password" name="password" placeholder="Password" required>
            <i class="fa-solid fa-eye animate__animated animate__faster" id="toggle-password"></i>
        </div>
        
        <button id="submit-button" type="submit">Sign In </button>
    </form>

    <p class="option-text">Checkout other options</p>
    
    <div class="auth-options">
        <a id="google-auth" href="/users/auth/google"><img src="<%= assetPath('img/icons8-google-48.png') %>" alt=""></a>
        <a id="fb-auth" href="/users/auth/google"><i class="fa-brands fa-facebook-f"></i></a>
        <a id="git-auth" href="/users/auth/google"><i class="fa-brands fa-github"></i></a>
    </div>

    <p class="option-text">or Create an Account <a id="toggle-sign-in-page" href="#">Sign up <i class="fa-solid fa-arrow-right"></i></a></p>

</div>

<script src="<%= assetPath('js/sign_in_up.js') %>"></script>
