

.bottom-nav {
    display: none;
}



@media screen and (max-width: "480px") {
    .bottom-nav {
        font-size: 1.4rem;
        padding: 6px;
        padding-bottom: 20px;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        position: fixed;
        bottom: 0%;
        z-index: 3;

        background: rgba(0, 0, 0, 0.506);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);        
        border-top: 1px solid rgba(233, 233, 233, 0.233);

        #home {
            
            i {
                background-color: #4158D0;
                background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
            
        }

        a {
            text-decoration: none;
            color: white;
        }

        #profile {
            display: flex;
            align-self: center;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                img {
                    align-self: center;
                    height: 1.7rem;
                    width: 1.7rem;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            
        }
    }
}
