$button-color-blue: #0057d2;
$button-hover-color: #d1efff;
$button-color-red: #d20a0a;
$text-color-gray: #d0d0d0;
$button-color-gray: #202020;
$button-color-ligth-blue: #4db1ff;

.remove-box {
  height: 60px !important;
  overflow: hidden !important;
  border-radius: 15px !important;
}

.user-chat-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  bottom: 1px;
  right: 1px;
  height: 500px;
  width: 350px;

  background-color: rgba(0, 0, 0, 1);
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  // background-image: linear-gradient( rgba(0, 0, 0, 0.7), #000000,),
  //     url('../img/161.jpg');
  // background-size: cover;

  margin: 20px;
  transition: all 0.5s ease-out;

  .friends {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    max-height: 470px;
    overflow-y: scroll;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6e6e6e;
      border-radius: 8px;
    }

    .header {
      width: 100%;
      background-color: #202020;
      border-radius: 20px 20px 0 0;

      padding: 10px 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      position: sticky;
      top: 0;
      z-index: 999;

      .comment-icon {
        background-color: #0057d2;
        color: white;
        font-size: 1.1rem;
        border-radius: 50%;
      }

      i {
        cursor: pointer;
        padding: 12px 10px;
      }
    }

    .update-msg {
      text-align: center;
      font-size: 0.8rem;
      background-color: $button-color-gray;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 10px 50px;
    }

    #friends-list {
      display: flex;
      flex-direction: column;
      padding: 15px;
      padding-top: 0;

      .no-friend {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        p {
          text-align: center;
        }
      }

      li {
        display: flex;
        align-items: center;
        margin-top: 10px;
        cursor: pointer;
        position: relative;
        background-color: $button-color-gray;
        padding: 8px 10px;
        border-radius: 10px;
        transition: all 0.2s ease-out;

        img {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          object-fit: cover;
        }

        span {
          p {
            margin-left: 10px;
          }

          .status {
            display: flex;
            align-items: center;
            width: max-content;
            font-size: 0.8rem;
            color: $text-color-gray;
            .fa-circle {
              font-size: 0.9rem;
              margin-right: 5px;
              color: greenyellow;
              position: absolute;
              left: 35px;
              // black box shadow
              -webkit-text-stroke: 2.5px #202020;

            }
          }

          .hidden-status {
            display: none;
          }
        }

        .status-icon {
          position: absolute;
          left: 35px;
          top: 34px;
          font-size: 0.8rem;
          color: gray;
          -webkit-text-stroke: 2.5px #202020;
        }

        .user-active {
          color: greenyellow;
        }

        .time {
          position: absolute;
          right: 20px;
          top: 10px;
          font-size: 0.9rem;
        }

        .icon {
          position: absolute;
          right: 20px;
        }

        .circle {
          color: #0057d2;
          font-size: 0.7rem;
          margin-top: 25px;
        }

        .singleTick {
          color: gray;
        }

        .doubleTick {
          color: gray;
        }

        .seen {
          color: #0057d2;
        }

        .remove {
          display: none !important;
        }

        &:hover {
          background-color: gray;
        }
      }
    }

    .global-chat-option {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
        background-color: $button-color-blue;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 10px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: all 0.3s ease-out;
        width: 92%;

        &:hover {
          color: $button-color-blue;
          background-color: $button-hover-color;
        }
      }
    }
  }

  .chat-overlay {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #202020;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .comment-icon {
      background-color: #0057d2;
      color: white;
      font-size: 1.3rem;
      border-radius: 50%;
    }

    i {
      cursor: pointer;
      padding: 12px 10px;
    }
  }

  .chat-overlay-z-index {
    z-index: 999;
  }

  .footer {
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
}

@media screen and (max-width: "480px") {
  .remove-box {
    display: none;
  }
  .user-chat-box {
    height: 100%;
    width: 100vw;
    z-index: 7;
    border-radius: 0;
    margin: 0;

    .friends {
      max-height: 98%;
      .header {
        border-radius: 0;
      }
    }

    .chat-overlay {
      display: none;
    }

    #chat-messages-list {
      height: auto;
      min-height: 85vh;
    }

    .footer {
      border-radius: 0;
    }
  }
}
