#page-footer {
    align-self: flex-end;
    padding: 5px;
    display: flex;
    justify-content: center;

    .credits {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            text-align: center;
            &:nth-child(1) {
                font-weight: 500;
            }
            &:nth-child(2) {
                font-size: 0.9rem;
            }
        }
    }
}