$button-color-blue: #0057D2; 
$button-hover-color: #D1EFFF;
$button-color-red: #D20A0A; 
$text-color-gray: #d0d0d0; 
$button-color-gray: #212121; 

.home-container {
    min-height: 99vh;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    justify-items: center;

    color: white;
    background-color: black;


    .post-div {
        display: flex;
        flex-direction: column;
        
        min-width: 30vw;
        padding: 5px;

        

        .post-new-card {
            display: none;
        }

        #new-post-form {
            align-self: center;
            max-width: 452px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 100px;

            //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border-radius: 30px;
            border: 1px solid rgba(231, 231, 231, 0.233);

            .header {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                p {
                    font-size: 1.05rem;
                    margin-left: 10px;
                }
            }

            #my-file {
                background-color: black;
            }
            .filepond--drop-label {
                background-color: black;

            }
            .filepond--credits {
                display: none;
            }

            

            #text-area {
                padding: 20px;
                margin-bottom: 15px;
                background-color: black;
                color: white;
                border: none;
                border: 1px solid rgba(231, 231, 231, 0.233);
                border-radius: 20px;
                resize: none;
                resize: vertical;
                &:focus {
                    outline: none;
                }
            }

            #submit {
                padding: 8px;
                background-color: $button-color-blue;
                border-radius: 20px;
                color: white;
                border: none;
                font-size: 1.1rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: lighten($color: $button-color-blue, $amount: 20%);
                }
            }
        }
    
        #feed-posts {
            //
            display: flex;
            justify-content: center;
            padding: 20px;
            background: rgba(0, 0, 0, 0.25);
            //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border-radius: 35px;
            // border: 1px solid rgba(231, 231, 231, 0.233);
        }
    }

    .right-section-div {
        display: flex;
        position: fixed !important;
        top: 0;
        right: 0;
        z-index: 1;
        height: 100vh !important;
    }

    
}



.remove {
    display: none;
}







@media screen and (max-width: "480px") {
    //do Smth
    .home-container {
        max-width: 100vw;
        min-height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;

        .post-div {


            
            
            .post-new-card {
                align-self: center;
                max-width: 95vw;
                display: grid;
                grid-template-columns: auto auto 1fr;
                background-color: $button-color-gray;
                padding: 15px;
                border-radius: 20px;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                p {
                    margin: 7px;
                }
    
                button {
                    justify-self: flex-end;
                    margin-left: 10px;
                    font-size: 1.1rem;
                    border-radius: 15px;
                    border: none;
                    background-color: $button-color-blue;
                    color: white;
                    padding: 5px 20px;
                }
            }

            #new-post-form {
                display: none;
                max-width: 100vw;
            }
            
            #feed-posts {
                //
                
            }
        }

        .right-section-div {
            position: sticky !important;
        }
    }
}



