@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0px;
    font-family: 'Poppins', "sans-serif";
}

body {
    color: white;


    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: black;
    #main-body {
        display: flex;
        flex-direction: column;
    }
    

    &::-webkit-scrollbar {
        margin: 2px;
        background-color: black;
    }

    &::-webkit-scrollbar-thumb {
        background-color:#6e6e6e;
        border-radius: 8px;
    }
}



::-webkit-scrollbar {
    width: 12px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}



@media #{$media-mobile-sm} {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}