@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
    margin: 0px;
    font-family: 'Poppins', "sans-serif";
}

body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background: linear-gradient(45deg, rgba(13,125,219,1) 0%, rgb(24, 24, 24) 37%, rgba(0,0,0,1) 100%);
    #main-body {
        display: flex;
        flex-direction: column;
    }
    
}
