$button-color-blue: #0057d2;
$button-hover-color: #d1efff;
$button-color-red: #d20a0a;
$text-color-gray: #d0d0d0;

.display-posts {
  max-width: 452px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  border-left: none;
  border-right: none;
  background-color: black;

  margin-top: 15px;

  position: relative;
  z-index: 99999;

  .post-options-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    padding: 10px;
    z-index: 8;

    border-radius: 30px;
    border: 1px solid rgba(231, 231, 231, 0.233);
    border-top: none;
    border-right: none;
    border-left: none;
    transform: translateY(-100px);

    transition: all 0.3s ease-in-out;

    svg {
      margin-right: 5px;
      path {
        fill: white;
      }
    }

    .option1 {
      margin: 10px;

      a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: $button-hover-color;
        }
      }
    }

    .option2 {
      margin: 10px;
      color: $button-color-red;
      font-size: 1.1rem;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: $button-color-red;
      }
    }

    .cancel-button {
      width: 100%;
      margin: 10px;
      padding: 10px;
      background-color: $button-color-blue;
      border-radius: 20px;
      color: white;
      border: none;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: lighten($color: $button-color-blue, $amount: 10%);
      }
    }
  }

  .animate-down {
    transform: translateY(0px);
  }

  .remove {
    display: none;
  }

  .post-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    position: relative;
    z-index: 1;
    top: 1px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    #user-profile-img {
      align-self: flex-start;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      object-fit: cover;
    }

    a {
      width: max-content;
      text-decoration: none;
      color: white;
      cursor: pointer;

      &:hover {
        color: gray;
      }
    }

    #post-menu-options {
      justify-self: end;

      i {
        font-size: 1rem;
        color: white;
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  .post-img {
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 550px !important;
    overflow: hidden !important;

    .blur-load::before {
      content: "";
      position: absolute;
      inset: 0;
      animation: pulse 2s infinite;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    @keyframes pulse {
      0% {
        background-color: rgba(255, 255, 255, 0);
      }
      50% {
        background-color: rgba(255, 255, 255, 0.1);
      }
      100% {
        background-color: rgba(255, 255, 255, 0);
      }
    }
    .blur-load {
      position: relative;
      background-size: cover;
      background-position: center;
      max-height: 450px;

      img {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
    }
    .loaded {
      img {
        opacity: 1;
      }
    }

    .loaded::before {
      content: none;
      animation: none;
    }

    img {
      height: 450px;
      width: 450px;
      max-width: 450px;
      max-height: 450px;
      aspect-ratio: 1 / 1;
      object-position: center;
      object-fit: cover;
    }
  }

  .post-footer {
    border-radius: 0 0 30px 30px;
    position: relative;
    z-index: 1;
    top: -1px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    .post-options {
      padding: 20px 20px 0px 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .left {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          width: fit-content;
          color: white;
          padding: 8px 10px;
          border-radius: 12px;
          border: 1px solid rgba(231, 231, 231, 0.233);
          margin-left: 12px;

          i {
            font-size: 1.2rem;
          }

          svg {
            path {
              fill: white;
            }
          }

          span {
            margin-left: 7px;
            color: rgb(158, 158, 158);
            font-size: 0.9rem;
            font-weight: 300;
          }
        }

        .toggle-like-button {
          margin-left: 0px;

          span {
            margin-left: 7px;
            color: rgb(158, 158, 158);
            font-size: 0.9rem;
            font-weight: 300;
          }
        }
      }
      .right {
        justify-self: flex-end;
        cursor: pointer;

        i {
          font-size: 1.2rem;
        }
      }
    }

    #likes-counter {
      padding: 0px 20px 0px 20px;
      margin-top: 10px;
    }

    .post-caption {
      padding: 0px 20px 0px 20px;

      display: flex;
      align-items: center;
      margin-top: 10px;

      .post-user-content {
        font-size: 0.9rem;
        color: $text-color-gray;
      }
    }

    .time {
      padding-left: 20px;
      display: flex;
      align-items: center;
      margin-top: 2px;

      svg {
        height: 19px;
        width: 19px;
        margin-right: 5px;

        path {
          fill: gray;
        }
      }

      p {
        font-size: 0.8rem;
        color: gray;
      }
    }

    #comments-list-container {
      padding: 0px 20px 0px 20px;
      // border-top: 1px solid rgba(231, 231, 231, 0.233);

      .comment-display {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        margin-top: 10px;

        .middle-section {
          display: flex;
          flex-direction: column;

          .upper {
            display: flex;
            flex-wrap: wrap;

            .comment-user-content {
              font-size: 0.9rem;
              color: $text-color-gray;
            }
          }

          .bottom {
            display: flex;
            align-items: center;

            #comment-time {
              margin-right: 10px;
              color: gray;
            }

            #reply-button {
              margin-right: 10px;
            }

            .delete-comment-button {
              color: gray;
            }
          }
        }

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 15px;
        }

        p {
          font-size: 0.9rem;
        }

        .comment-user-name {
          font-weight: 600;
        }

        a {
          text-decoration: none;

          color: $button-color-red;
        }

        .toggle-like-button {
          display: flex;
          align-items: center;
          color: white;
          padding: 6px 8px;
          border-radius: 12px;
          border: 1px solid rgba(231, 231, 231, 0.233);
          margin-left: 12px;
          transition: 1s all ease-in-out;

          span {
            margin-left: 5px;
            font-size: 0.8rem;
            font-weight: 100;
            color: rgb(164, 164, 164);
          }
        }
      }
    }

    .post-comments {
      position: relative;
      top: 5px;
      padding: 15px;
      border-top: 1px solid rgba(231, 231, 231, 0.233);

      form {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;

        i {
          color: white;
          font-size: 1.3rem;
          margin-left: 10px;
          cursor: pointer;
        }
        input {
          margin-left: 10px;
          padding: 5px;
          border: none;
          background-color: black;
          color: white;
          font-size: 1rem;
          &:focus {
            outline: none;
          }
        }

        .submit-button {
          font-size: 1rem;
          font-weight: 500;
          color: $button-color-blue;
          background-color: #0f73ff;
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding: 5px;
          transition: all 0.2s ease-out;

          svg {
            height: 26px;
            width: 26px;
            path {
              fill: white;
            }
          }

          &:hover {
            background-color: lighten($color: #0f73ff, $amount: 10%);
          }
        }
      }
    }
  }
}

.liked {
  color: $button-color-red;
}

.loader,
.comment-add-loader {
  display: none;
  margin-right: 5px;
  border: 4px solid $button-color-red;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader,
.comment-add-loader {
  border: 4px solid $button-color-red;
  border-left-color: transparent;
  width: 25px;
  height: 25px;
}

.loader,
.comment-add-loader {
  border: 4px solid $button-color-red;
  border-left-color: transparent;
  width: 25px;
  height: 25px;
  animation: spin89345 1s linear infinite;
}

.comment-add-loader {
  border-color: white;
  border-left-color: transparent;
  margin-right: 0;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: "500px") {
  .display-posts {
    max-width: 100vw;
    border: none;
    border-top: 1px solid rgba(231, 231, 231, 0.233);
    border-bottom: 1px solid rgba(231, 231, 231, 0.233);
    border-radius: 0;
    padding-bottom: 20px;

    .post-header {
      padding: 15px;
      border-radius: 0;
      backdrop-filter: blur(35px);
      -webkit-backdrop-filter: blur(35px);
    }

    .post-img {
      img {
        max-width: 100vw;
      }
    }

    .post-footer {
      backdrop-filter: blur(35px);
      -webkit-backdrop-filter: blur(35px);

      .post-options {
        max-width: 100vw;
      }

      #comments-list-container {
        .comment-display {
          max-width: 90vw;
        }
      }
      .post-comments {
        margin-bottom: -17px;
        font-size: 1rem;
        border-top: none;
        form {
          input {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
