$button-color-blue: #0057d2;
$button-hover-color: #d1efff;
$button-color-red: #d20a0a;
$text-color-gray: #d0d0d0;
$button-color-gray: #212121;
$button-color-gradient-blue: linear-gradient(
  130deg,
  rgba(18, 119, 243, 1) 0%,
  rgba(11, 73, 149, 1) 97%
);

.right-section-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  min-width: 390px;
  justify-items: center;
  color: white;

  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.051);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  // border-radius: 0 15px 15px 0;
  border-left: 0.5px solid rgba(236, 236, 236, 0.233);

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      -45deg,
      rgba(255, 60, 0, 0.482) 0%,
      rgba(4, 0, 255, 0.485) 69%
    );
    // background-color: #4158d0;
    // background-image: linear-gradient(
    //   43deg,
    //   #4158d0 0%,
    //   #c850c0 46%,
    //   #ffcc70 100%
    // );

    transform: translate3d(0px, 0px, 0) scale(0.95);
    filter: blur(50px);
    opacity: 0.5;
    transition: opacity 0.3s;
    border-radius: inherit;
  }
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }

  #user-friends,
  #other-users {
    width: 95%;

    svg {
      height: 30px;
      width: 30px;
      margin-right: 7px;

      path {
        fill: white;
      }
    }

    h4 {
      padding: 10px 20px;
      background-color: $button-color-gray;

      margin: 20px;
      margin-bottom: 0px;
      border-radius: 10px;
      // text-align: center;
      position: relative;
      display: flex;
      align-items: center;

      i {
        margin-right: 7px;
        font-size: 1.1rem;
      }

      span {
        background-color: black;
        position: absolute;
        right: 15px;
        top: 5px;
        padding: 5px 12px;
        border-radius: 50%;
      }
    }

    .list {
      display: flex;
      flex-direction: column;

      margin: 20px;
      margin-top: 0px;
      padding: 20px;
      list-style: none;

      max-height: 29vh;

      // make the list scrollable
      overflow-y: scroll;
      overscroll-behavior: none;

      &::-webkit-scrollbar {
        margin: 2px;
        background-color: black;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #6e6e6e;
        border-radius: 8px;
      }

      .no-friends {
        align-self: center;
        margin: 10px;
        color: gray;
      }

      .user {
        display: flex;
        align-items: center;
        padding: 5px;

        img {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          margin-right: 10px;
          object-fit: cover;
        }

        p {
          cursor: pointer;

          a {
            text-decoration: none;
            color: gray;

            &:hover {
              color: white;
            }
          }

          .user-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .user-image {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              margin-right: 10px;
            }

            .user-name {
              font-size: 1.2rem;
              font-weight: 700;
            }
          }

          .user-status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .status {
              font-size: 0.9rem;
              font-weight: 700;
              margin-right: 10px;
            }

            .status-circle {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              background-color: $button-color-red;
            }
          }
        }
      }
    }
  }

  #user-friends {
    margin-top: 50px;
  }
}

.section-visible {
  display: grid !important;
  position: relative;
  z-index: 9999;
}

@media screen and (max-width: 1400px) {
  .right-section-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .right-section-container {
    // display: grid;
    display: none;
  }
}
