$button-color-blue: #0057D2; 
$button-hover-color: #D1EFFF;


#top-nav-header {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    color: white;
    
}

#branding {
    margin: 10px;
}



// Sign in/up section

#top-nav-section {
    justify-self: flex-end;
    display: flex;
    margin: 10px;
    color: white;

    #sign-in-button, #sign-up-button {
        background-color: $button-color-blue;
        color: white;
        border-radius: 20px;
        padding: 10px 25px;
        margin: 0px 10px;
        align-self: center;
        border: 1px solid #0058d24a;

        transition: 0.25s all ease-in-out;

        a {
            color: white;
            transition: 0.25s all ease-in-out;
            font-weight: 500;
            i {
                font-size: 1.2rem;
            }
        }

        &:hover {
            background-color: $button-hover-color;
            
            a {
                color: $button-color-blue;
            }
        }

        
    }




    #user-name {
        align-self: center;
    }
}

