$button-color-blue: #0057d2;
$button-hover-color: #d1efff;
$button-color-red: #d20a0a;
$text-color-gray: #d0d0d0;
$button-color-gray: #202020;

.branding-logo {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;

  img {
    height: 50px;
    width: 50px;
  }

  p {
    display: flex;
    align-items: center;
    margin-left: 7px;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    font: 400 40px/72px Delicious Handrawn, sans-serif;
    width: -moz-max-content;
    width: max-content;
    background: linear-gradient(
      80.18deg,
      #d1ccdd,
      #c893e1 25%,
      #eb47a7 50%,
      #f94a73 75%,
      #fb7a53
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: cover;

    // span {
    //   font-size: 0.9rem;
    //   // align-self: flex-end;
    // }

    // sup {
    //   font-size: 1.5rem;
    // }

    // .s {
    //   font-size: 1.7rem;
    //   font-weight: 800;
    // }

    .social {
      margin-top: 5px;
      font: 400 30px/72px Delicious Handrawn, sans-serif;
    }

    i {
      color: $button-color-blue;
      font-size: 1.8rem;
    }

    svg {
      margin-right: 5px;
      height: 40px;
      width: 40px;
      // padding: 5px;
      // background: linear-gradient(
      //   124deg,
      //   #ff2400,
      //   #e81d1d,
      //   #e8b71d,
      //   #e3e81d,
      //   #1de840,
      //   #1ddde8,
      //   #2b1de8,
      //   #dd00f3,
      //   #dd00f3
      // );
      // background-size: 1800% 1800%;
      // border-radius: 10px;

      // -webkit-animation: rainbow 18s ease infinite;
      // -z-animation: rainbow 18s ease infinite;
      // -o-animation: rainbow 18s ease infinite;
      // animation: rainbow 18s ease infinite;
      path {
        fill: white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .branding-logo {
    p {
      font-size: 30px;
    }

    span {
      font-size: 25px;
    }
  }
}
