$button-color-blue: #0057D2; 
$button-hover-color: #D1EFFF;
$button-color-red: #D20A0A; 
$text-color-gray: #d0d0d0; 
$button-color-gray: #212121; 



.user-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;

    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 30%;

    z-index: 999;
    overflow: hidden !important;
    


    .welcome-div {
        margin: 20px;
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        
        img {
            display: none;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            object-fit: cover;
        }

        p {
            
            
            display: flex;
            align-items: center;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-top: -4px;
            font-size: 1.5rem;
            font-weight: 600;

            i {
                margin: 5px;
            }
            
            
        }
    }


    form {
        display: flex;
        flex-direction: column;

        .input-with-icon {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: $button-color-gray;
            border-radius: 10px;
            margin: 7px;
            color: white;
            border: none;
            

            i {
                margin-left: 5px;
                font-size: 1.2rem;
            }

            
        }

        #toggle-password {
            cursor: pointer;
            transition: 0.3s all ease-in-out;
        }
        

        #email-input, #pass-input, #name-input {
            font-size: 1rem;
            margin-left: 15px;
            width: 90%;
            background-color: $button-color-gray;
            border-radius: 10px;
            
            color: white;
            border: none;

            &:focus {
                outline: none;
            }

            &:-webkit-autofill {
                -webkit-text-fill-color: white !important;
                transition: background-color 5000s ease-in-out 0s;
                font-size: 1rem;
            }

            

        }

        #submit-button {
            margin: 5px;
            margin-top: 8px;
            padding: 10px;
            background-color: $button-color-blue;
            color: white;
            font-size: 1rem;
            border-radius: 15px;
            border: none;
            font-weight: 500;
            text-decoration: none;
            background: linear-gradient(130deg, rgba(18,119,243,1) 0%, rgba(11,73,149,1) 97%);

        }
    }


    .option-text {
        color: $text-color-gray;
        margin: 10px;
        align-self: center;
        font-size: 0.9rem;

        a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            color: $button-color-blue


        }
    }

    .auth-options {
        display: flex;
        justify-content: center;
        margin: 10px;

        #google-auth, #fb-auth, #git-auth {
            font-size: 1.3rem;
            margin: 5px;
            padding: 10px 20px;
            background-color: $button-color-gray;
            border-radius: 15px;
            color: white;
            text-decoration: none;

        }

        #google-auth {
            padding: 5px 15px;
            display: flex;
            align-items: center;
            background: white;
            img {
                height: 28px;
                width: 28px;
            }
        }

        #fb-auth {
            background: rgb(18,119,243);
            background: linear-gradient(130deg, rgba(18,119,243,1) 0%, rgba(11,73,149,1) 97%);
        }
    }
}

.remove {
    display: none;
}





@media screen and (max-width: "480px") {


    .user-sign-up {
        max-width: 88vw;
        margin-top: -10px;
        margin-left: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -10px;

        .welcome-div {
            p {
                font-size: 1.3rem;
            }
        }

    }
}