#home-container {
  min-height: 99vh;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  color: white;
  background-color: black;
}

#home-container .post-div {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  padding: 5px;
}

#home-container .post-div #new-post-form {
  align-self: center;
  max-width: 452px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
}

#home-container .post-div #new-post-form .header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#home-container .post-div #new-post-form .header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#home-container .post-div #new-post-form .header p {
  font-size: 1.05rem;
  margin-left: 10px;
}

#home-container .post-div #new-post-form #my-file {
  background-color: black;
}

#home-container .post-div #new-post-form .filepond--drop-label {
  background-color: black;
}

#home-container .post-div #new-post-form .filepond--credits {
  display: none;
}

#home-container .post-div #new-post-form #text-area {
  padding: 20px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  border: none;
  border: 1px solid rgba(231, 231, 231, 0.233);
  border-radius: 20px;
}

#home-container .post-div #new-post-form #text-area:focus {
  outline: none;
}

#home-container .post-div #new-post-form #submit {
  padding: 8px;
  background-color: #0057D2;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 1.1rem;
}

#home-container .post-div #feed-posts {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 35px;
}

@media screen and (max-width: 480px) {
  #home-container {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  #home-container .post-div #new-post-form {
    display: none;
    max-width: 100vw;
  }
}
