.home-container {
  min-height: 99vh;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  justify-items: center;
  color: white;
  background-color: black;
}

.home-container .post-div {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  padding: 5px;
}

.home-container .post-div .post-new-card {
  display: none;
}

.home-container .post-div #new-post-form {
  align-self: center;
  max-width: 452px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
}

.home-container .post-div #new-post-form .header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.home-container .post-div #new-post-form .header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.home-container .post-div #new-post-form .header p {
  font-size: 1.05rem;
  margin-left: 10px;
}

.home-container .post-div #new-post-form #my-file {
  background-color: black;
}

.home-container .post-div #new-post-form .filepond--drop-label {
  background-color: black;
}

.home-container .post-div #new-post-form .filepond--credits {
  display: none;
}

.home-container .post-div #new-post-form #text-area {
  padding: 20px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  border: none;
  border: 1px solid rgba(231, 231, 231, 0.233);
  border-radius: 20px;
  resize: none;
  resize: vertical;
}

.home-container .post-div #new-post-form #text-area:focus {
  outline: none;
}

.home-container .post-div #new-post-form #submit {
  padding: 8px;
  background-color: #0057D2;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home-container .post-div #new-post-form #submit:hover {
  background-color: #398bff;
}

.home-container .post-div #feed-posts {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 35px;
}

.home-container .right-section-div {
  display: flex;
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh !important;
}

.remove {
  display: none;
}

@media screen and (max-width: 480px) {
  .home-container {
    max-width: 100vw;
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .home-container .post-div .post-new-card {
    align-self: center;
    max-width: 95vw;
    display: grid;
    grid-template-columns: auto auto 1fr;
    background-color: #212121;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .home-container .post-div .post-new-card img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .home-container .post-div .post-new-card p {
    margin: 7px;
  }
  .home-container .post-div .post-new-card button {
    justify-self: flex-end;
    margin-left: 10px;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    background-color: #0057D2;
    color: white;
    padding: 5px 20px;
  }
  .home-container .post-div #new-post-form {
    display: none;
    max-width: 100vw;
  }
  .home-container .right-section-div {
    position: sticky !important;
  }
}
