.display-posts {
  max-width: 452px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  margin-top: 15px;
  position: relative;
}

.display-posts .post-options-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  z-index: 8;
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  border-top: none;
  border-right: none;
  border-left: none;
  transform: translateY(-100px);
  transition: all 0.3s ease-in-out;
}

.display-posts .post-options-menu .option1 {
  margin: 10px;
}

.display-posts .post-options-menu .option2 {
  margin: 10px;
  color: #D20A0A;
  font-size: 1.1rem;
}

.display-posts .post-options-menu .option2 a {
  text-decoration: none;
  color: #D20A0A;
}

.display-posts .post-options-menu .cancel-button {
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #0057D2;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.display-posts .animate-down {
  transform: translateY(0px);
}

.display-posts .remove {
  display: none;
}

.display-posts .post-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 10px;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
}

.display-posts .post-header #user-profile-img {
  align-self: flex-start;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.display-posts .post-header #post-menu-options {
  justify-self: end;
}

.display-posts .post-header #post-menu-options i {
  font-size: 1rem;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.display-posts .post-img {
  position: relative;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-posts .post-img img {
  height: 325px;
  width: auto;
  max-width: 450px;
}

.display-posts .post-footer {
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 1;
  top: -15px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.display-posts .post-footer .post-options {
  padding: 20px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.display-posts .post-footer .post-options .left {
  display: flex;
  align-items: center;
}

.display-posts .post-footer .post-options .left a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
  color: white;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  margin-left: 12px;
}

.display-posts .post-footer .post-options .left a i {
  font-size: 1.2rem;
}

.display-posts .post-footer .post-options .left a span {
  margin-left: 7px;
  color: #9e9e9e;
  font-size: 0.9rem;
  font-weight: 300;
}

.display-posts .post-footer .post-options .left .toggle-like-button {
  margin-left: 0px;
}

.display-posts .post-footer .post-options .left .toggle-like-button span {
  margin-left: 7px;
  color: #9e9e9e;
  font-size: 0.9rem;
  font-weight: 300;
}

.display-posts .post-footer .post-options .right {
  justify-self: flex-end;
}

.display-posts .post-footer .post-options .right i {
  font-size: 1.2rem;
}

.display-posts .post-footer #likes-counter {
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
}

.display-posts .post-footer .post-caption {
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.display-posts .post-footer .post-caption .post-user-content {
  font-size: 0.9rem;
  color: #d0d0d0;
}

.display-posts .post-footer #comments-list-container {
  padding: 0px 20px 0px 20px;
}

.display-posts .post-footer #comments-list-container .comment-display {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 10px;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section {
  display: flex;
  flex-direction: column;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .upper {
  display: flex;
  flex-wrap: wrap;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .upper .comment-user-content {
  font-size: 0.9rem;
  color: #d0d0d0;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .bottom {
  display: flex;
  align-items: center;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .bottom #comment-time {
  margin-right: 10px;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .bottom #reply-button {
  margin-right: 10px;
}

.display-posts .post-footer #comments-list-container .comment-display img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.display-posts .post-footer #comments-list-container .comment-display p {
  font-size: 0.9rem;
}

.display-posts .post-footer #comments-list-container .comment-display .comment-user-name {
  font-weight: 600;
}

.display-posts .post-footer #comments-list-container .comment-display a {
  text-decoration: none;
  color: #D20A0A;
}

.display-posts .post-footer #comments-list-container .comment-display .toggle-like-button {
  display: flex;
  align-items: center;
  color: white;
  padding: 6px 8px;
  border-radius: 12px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  margin-left: 12px;
  transition: 1s all ease-in-out;
}

.display-posts .post-footer #comments-list-container .comment-display .toggle-like-button span {
  margin-left: 5px;
  font-size: 0.8rem;
  font-weight: 100;
  color: #a4a4a4;
}

.display-posts .post-footer .post-comments {
  position: relative;
  top: 15px;
  padding: 10px;
  border-top: 1px solid rgba(231, 231, 231, 0.233);
}

.display-posts .post-footer .post-comments form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.display-posts .post-footer .post-comments form i {
  color: white;
  font-size: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
}

.display-posts .post-footer .post-comments form input {
  margin-left: 10px;
  padding: 5px;
  border: none;
  background-color: black;
  color: white;
}

.display-posts .post-footer .post-comments form input:focus {
  outline: none;
}

.display-posts .post-footer .post-comments form .submit-button {
  font-size: 1rem;
  font-weight: 500;
  color: #0057D2;
}

.liked {
  color: #D20A0A;
}

@media screen and (max-width: 480px) {
  .display-posts {
    max-width: 100vw;
    border: none;
    border-top: 1px solid rgba(231, 231, 231, 0.233);
    border-bottom: 1px solid rgba(231, 231, 231, 0.233);
    border-radius: 0;
  }
  .display-posts .post-header {
    padding: 15px;
    border-radius: 0;
    backdrop-filter: blur(35px) saturate(130%);
    -webkit-backdrop-filter: blur(35px) saturate(130%);
  }
  .display-posts .post-img {
    top: -12px;
  }
  .display-posts .post-img img {
    max-width: 100vw;
  }
  .display-posts .post-footer {
    top: -32px;
    backdrop-filter: blur(35px) saturate(130%);
    -webkit-backdrop-filter: blur(35px) saturate(130%);
  }
  .display-posts .post-footer .post-options {
    max-width: 100vw;
  }
  .display-posts .post-footer #comments-list-container .comment-display {
    max-width: 90vw;
  }
  .display-posts .post-footer .post-comments {
    margin-bottom: -17px;
    font-size: 1rem;
    border-top: none;
  }
  .display-posts .post-footer .post-comments form input {
    font-size: 0.9rem;
  }
}
