#user-chat-box {
  position: fixed;
  z-index: 2;
  bottom: 1px;
  right: 1px;
  height: 350px;
  width: 300px;
  background-color: rgba(171, 171, 171, 0.103);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
}

#user-chat-box #chat-messages-list {
  list-style: none;
  padding: 10px;
  height: 88%;
  overflow: auto;
}

#user-chat-box #chat-messages-list .other-message {
  text-align: left;
  padding: 5px;
}

#user-chat-box #chat-messages-list .other-message span {
  border-radius: 20px;
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
  background-color: #202020;
}

#user-chat-box #chat-messages-list .self-message {
  text-align: right;
  padding: 5px;
}

#user-chat-box #chat-messages-list .self-message span {
  border-radius: 20px;
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
  background-color: #0057D2;
}

#user-chat-box #chat-message-input-container {
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#user-chat-box #chat-message-input-container #chat-message-input {
  padding: 10px;
  height: 50%;
  width: 70%;
  color: white;
  background-color: #202020;
  border-radius: 0 0 0 30px;
  border: none;
}

#user-chat-box #chat-message-input-container #chat-message-input:focus {
  outline: none;
}

#user-chat-box #chat-message-input-container #send-message {
  height: 50%;
  width: 30%;
  font-size: 1rem;
  color: white;
  border: none;
  background: #0057D2;
  cursor: pointer;
  border-radius: 0 0 30px 0;
  transition: 0.3s all ease-in-out;
}

#user-chat-box #chat-message-input-container #send-message:hover {
  background-color: #1664d1;
}
