@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0px;
  font-family: 'Poppins', "sans-serif";
}

body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background: linear-gradient(45deg, #0d7ddb 0%, #181818 37%, black 100%);
}

body #main-body {
  display: flex;
  flex-direction: column;
}
