.display-posts {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  border: 1px solid rgba(231, 231, 231, 0.233);
  margin-top: 15px;
}

.display-posts .post-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 10px;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px);
}

.display-posts .post-header #user-profile-img {
  align-self: flex-start;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.display-posts .post-header #post-menu-options {
  justify-self: end;
}

.display-posts .post-img {
  position: relative;
  top: -2%;
}

.display-posts .post-img img {
  height: 325px;
  width: auto;
  max-width: 450px;
}

.display-posts .post-footer {
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 1;
  top: -15px;
  backdrop-filter: blur(40px) saturate(120%);
  -webkit-backdrop-filter: blur(40px);
}

.display-posts .post-footer .post-options {
  padding: 20px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.display-posts .post-footer .post-options .left i {
  font-size: 1.3rem;
  margin-left: 12px;
}

.display-posts .post-footer .post-options .right {
  justify-self: flex-end;
}

.display-posts .post-footer .post-options .right i {
  font-size: 1.3rem;
}

.display-posts .post-footer .post-caption {
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.display-posts .post-footer .post-caption .post-user-content {
  font-size: 0.9rem;
}

.display-posts .post-footer #comments-list-container {
  padding: 0px 20px 0px 20px;
}

.display-posts .post-footer #comments-list-container .comment-display {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 10px;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section {
  display: flex;
  flex-direction: column;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .upper {
  display: flex;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .bottom {
  display: flex;
  align-items: center;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .bottom #comment-time {
  margin-right: 10px;
}

.display-posts .post-footer #comments-list-container .comment-display .middle-section .bottom #reply-button {
  margin-right: 10px;
}

.display-posts .post-footer #comments-list-container .comment-display img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.display-posts .post-footer #comments-list-container .comment-display p {
  font-size: 0.9rem;
}

.display-posts .post-footer #comments-list-container .comment-display .comment-user-name {
  font-weight: 600;
}

.display-posts .post-footer #comments-list-container .comment-display a {
  color: #D20A0A;
}

.display-posts .post-footer .post-comments {
  position: relative;
  top: 15px;
  padding: 10px;
  border-top: 1px solid rgba(231, 231, 231, 0.233);
}

.display-posts .post-footer .post-comments form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.display-posts .post-footer .post-comments form i {
  color: white;
  font-size: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
}

.display-posts .post-footer .post-comments form input {
  margin-left: 10px;
  padding: 5px;
  border: none;
  background-color: black;
  color: white;
}

.display-posts .post-footer .post-comments form input:focus {
  outline: none;
}

.display-posts .post-footer .post-comments form .submit-button {
  font-size: 1rem;
  font-weight: 500;
  color: #0057D2;
}
