.right-section-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  min-width: 390px;
  justify-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.051);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-left: 1px solid rgba(236, 236, 236, 0.233);
}

.right-section-container #user-friends, .right-section-container #other-users {
  width: 95%;
}

.right-section-container #user-friends h4, .right-section-container #other-users h4 {
  padding: 10px 20px;
  background-color: #212121;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
  position: relative;
}

.right-section-container #user-friends h4 i, .right-section-container #other-users h4 i {
  margin-right: 7px;
}

.right-section-container #user-friends h4 span, .right-section-container #other-users h4 span {
  background-color: black;
  position: absolute;
  right: 15px;
  top: 5px;
  padding: 5px 12px;
  border-radius: 50%;
}

.right-section-container #user-friends .list, .right-section-container #other-users .list {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  list-style: none;
  max-height: 290px;
  overflow-y: scroll;
}

.right-section-container #user-friends .list::-webkit-scrollbar, .right-section-container #other-users .list::-webkit-scrollbar {
  margin: 2px;
  background-color: black;
}

.right-section-container #user-friends .list::-webkit-scrollbar-thumb, .right-section-container #other-users .list::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 8px;
}

.right-section-container #user-friends .list .user, .right-section-container #other-users .list .user {
  display: flex;
  align-items: center;
  padding: 5px;
}

.right-section-container #user-friends .list .user img, .right-section-container #other-users .list .user img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.right-section-container #user-friends .list .user p, .right-section-container #other-users .list .user p {
  cursor: pointer;
}

.right-section-container #user-friends .list .user p a, .right-section-container #other-users .list .user p a {
  text-decoration: none;
  color: gray;
}

.right-section-container #user-friends .list .user p a:hover, .right-section-container #other-users .list .user p a:hover {
  color: white;
}

.right-section-container #user-friends .list .user p .user-info, .right-section-container #other-users .list .user p .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right-section-container #user-friends .list .user p .user-info .user-image, .right-section-container #other-users .list .user p .user-info .user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.right-section-container #user-friends .list .user p .user-info .user-name, .right-section-container #other-users .list .user p .user-info .user-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.right-section-container #user-friends .list .user p .user-status, .right-section-container #other-users .list .user p .user-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right-section-container #user-friends .list .user p .user-status .status, .right-section-container #other-users .list .user p .user-status .status {
  font-size: 0.9rem;
  font-weight: 700;
  margin-right: 10px;
}

.right-section-container #user-friends .list .user p .user-status .status-circle, .right-section-container #other-users .list .user p .user-status .status-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #D20A0A;
}
