#top-nav-header {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: white;
}

#branding {
  margin: 10px;
}

#top-nav-section {
  justify-self: flex-end;
  display: flex;
  margin: 10px;
  color: white;
}

#top-nav-section #sign-in-button, #top-nav-section #sign-up-button {
  background-color: #0057D2;
  color: white;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 0px 10px;
  align-self: center;
  border: 1px solid #0058d24a;
  transition: 0.25s all ease-in-out;
}

#top-nav-section #sign-in-button a, #top-nav-section #sign-up-button a {
  color: white;
  transition: 0.25s all ease-in-out;
  font-weight: 500;
}

#top-nav-section #sign-in-button a i, #top-nav-section #sign-up-button a i {
  font-size: 1.2rem;
}

#top-nav-section #sign-in-button:hover, #top-nav-section #sign-up-button:hover {
  background-color: #D1EFFF;
}

#top-nav-section #sign-in-button:hover a, #top-nav-section #sign-up-button:hover a {
  color: #0057D2;
}

#top-nav-section #user-name {
  align-self: center;
}
